<div class="header">
    <img src="https://www.ikomiperu.com/assets/img/LOGO_IKOMI.png" alt="IKOMI Perú Logo" class="logo">
    <nav>
      <ul>
        <li><a routerLink="home">Inicio</a></li>
        <li><a routerLink="/nosotros">Nosotros</a></li>
        <li><a routerLink="/pagina1">Servicios</a></li>
        <li><a routerLink="/pagina2">Productos</a></li>
        <li><a routerLink="/pagina3">Marcas</a></li>
        <li><a routerLink="/pagina4">Contáctenos</a></li>
      </ul>
    </nav>
  </div>