<section class="contact-section">
    <h1 class="text-center">CONTÁCTENOS</h1>
    <p class="text-center subtitle">Llene el formulario y un asesor se pondrá en contacto lo más pronto posible.</p>
    <div class="container">
      <div class="row">
        <div class="col map-container">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.9998479974257!2d144.9640177153178!3d-37.81421717975182!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad642af0f11fd81%3A0xf5771a158e541e0c!2sFederation%20Square!5e0!3m2!1sen!2sau!4v1626861882292!5m2!1sen!2sau" 
          width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <div class="col">
          <form class="contact-form">
            <input type="text" placeholder="Apellidos y Nombres" required>
            <input type="tel" placeholder="Teléfono" required>
            <input type="email" placeholder="Correo" required>
            <input type="text" placeholder="Asunto" required>
            <textarea placeholder="Mensaje" rows="5" required></textarea>
            <button type="submit">Enviar Mensaje</button>
          </form>
        </div>
      </div>
    </div>
  </section>