
  <h1 class="text-center">Nosotros</h1>
  <hr class="underline">
  <p class="text-center subtitle">Estamos listos para atenderte</p>
  <div class="container">
    <div class="row">
      <!-- Card 1 -->
      <div class="col">
        <div class="card">
          <img src="https://www.ikomiperu.com/assets/img/nosotros.jpg" class="card-img-top" alt="Image 1">
          <div class="card-body">
            <h5 class="card-title">Equipo</h5>
          </div>
        </div>
      </div>

      <!-- Card 2 -->
      <div class="col">
        <div class="card">
          <img src="https://www.ikomiperu.com/assets/img/bodega.jpg" class="card-img-top" alt="Image 2">
          <div class="card-body">
            <h5 class="card-title">Almacen</h5>
          </div>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="col">
        <div class="card">
          <img src="https://www.ikomiperu.com/assets/img/entrada.jpg" class="card-img-top" alt="Image 3">
          <div class="card-body">
            <h5 class="card-title">Tienda</h5>
          </div>
        </div>
      </div>

      <!-- Card 4 -->
      <div class="col">
        <div class="card">
          <img src="https://www.ikomiperu.com/assets/img/empresa.jpg" class="card-img-top" alt="Image 4">
          <div class="card-body">
            <h5 class="card-title">Empresa</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

