<div class="main-content">
    <img src="https://scontent.flim26-1.fna.fbcdn.net/v/t39.30808-6/416367885_385750923814496_8253820227173765671_n.png?stp=dst-png_p480x480&_nc_cat=100&ccb=1-7&_nc_sid=5f2048&_nc_ohc=5C0uZwad36QQ7kNvgFmDHFX&_nc_ht=scontent.flim26-1.fna&oh=00_AYD7hc0v18ONDe7X3loMn5n7pY_wZleN_qvz5YLymUH3IA&oe=665E7ED8" alt="Truck Parts Background" class="background-img">
    <div class="content">
      <h1>REPUESTOS EN GENERAL</h1>
      <p>para camiones de todas las marcas.</p>
      <p>Somos una empresa importadora de repuestos.</p>
    </div>
  </div>
  <div class="contact-whatsapp">
    <a href="https://wa.me/yourwhatsapplink" target="_blank">
      <img src="assets/whatsapp-icon.png" alt="WhatsApp">
    </a>
  </div>